__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# Environments
.env
.venv/
env/
venv/




# Docker
*.log
docker-compose.override.yml


# VSCode / PyCharm
.vscode/
.idea/



# System files
.DS_Store
Thumbs.db